{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" placeholder="Username" autofocus id="username" type="text">
        </div>
        <div>
            <input autocomplete="off" placeholder="Password" autofocus id="password" type="password">
        </div>
        <div>
            <input autocomplete="off" placeholder="Confirm Password" autofocus id="confirm" type="password">
        </div>
        <div>
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
    </form>
{% endblock %}