{% extends "layout.html" %}

{% block title %} Shop {% endblock %}

{% block body %}
<h2 class="head">Shop</h2>
<div class="row align-items-start" style="padding-left: 250px; padding-top: 50px;">
<div class="col-md-4">
    <h3>General</h3>
        <div class="shop"><a href="https://www.amazon.com" target="_self">Amazon</a></div>
        <div class="shop"><a href="https://www.ebay.com/" target="_self">ebay</a></div>
        <div class="shop"><a href="https://www.target.com/" target="_self">Target</a></div>
        <div class="shop"><a href="https://www.walmart.com/" target="_self">Walmart</a></div>

    <h3 style="padding-top: 50px;">Custom</h3>
        <div class="shop"><a href="https://www.amazon.com/Handmade/" target="_self">Amazon Handmade</a></div>
        <div class="shop"><a href="https://www.etsy.com/" target="_self">Etsy</a></div>
        <div class="shop"><a href="https://www.uncommongoods.com/" target="_self">Uncommon Goods</a></div>
    <h3 style="padding-top: 50px;">Active</h3>
        <div class="shop"><a href="https://www.backcountry.com/" target="_self">Backcountry</a></div>
        <div class="shop"><a href="https://www.campsaver.com/" target="_self">Campsaver</a></div>
        <div class="shop"><a href="https://www.fanatics.com/" target="_self">Fanatics</a></div>
        <div class="shop"><a href="https://www.nike.com/" target="_self">Nike</a></div>
        <div class="shop"><a href="https://www.rei.com/" target="_self">Rei</a></div>
</div>
<div class="col-md-4">
    <h3>Art/Crafts</h3>
        <div class="shop"><a href="https://www.dickblick.com/" target="_self">Blick</a></div>
        <div class="shop"><a href="https://www.jerrysartarama.com/" target="_self">Jerry's Artarama</a></div>
        <div class="shop"><a href="https://www.lego.com/" target="_self">Lego</a></div>
        <div class="shop"><a href="https://www.plazaart.com/" target="_self">Plaza Art</a></div>
    <h3 style="padding-top: 50px;">Cooking</h3>
        <div class="shop"><a href="https://www.bedbathandbeyond.com/" target="_self">Bed Bath and Beyond</a></div>
        <div class="shop"><a href="https://greatjonesgoods.com/" target="_self">Great Jones</a></div>
        <div class="shop"><a href="https://www.williams-sonoma.com/" target="_self">William Sonoma</a></div>

    <h3 style="padding-top: 50px;">Media</h3>
        <div class="shop"><a href="https://www.barnesandnoble.com/" target="_self">Barnes and Noble</a></div>
        <div class="shop"><a href="https://bookoutlet.com/" target="_self">Book Outlet</a></div>
        <div class="shop"><a href="https://www.apple.com/itunes/" target="_self">itunes</a></div>
        <div class="shop"><a href="https://www.powells.com/" target="_self">Powells</a></div>
</div>
<div class="col-md-4">
    <h3>Pets</h3>
        <div class="shop"><a href="https://www.chewy.com/" target="_self">Chewy</a></div>
        <div class="shop"><a href="https://www.petco.com/" target="_self">Petco</a></div>
        <div class="shop"><a href="https://www.petsmart.com/" target="_self">Petsmart</a></div>

    <h3 style="padding-top: 50px;">Self-Care</h3>
        <div class="shop"><a href="https://www.bathandbodyworks.com/" target="_self">Bath and Body Works</a></div>
        <div class="shop"><a href="https://www.lush.com/" target="_self">Lush</a></div>
        <div class="shop"><a href="https://www.chewy.com/" target="_self">Sephora</a></div>
        <div class="shop"><a href="https://www.ulta.com/" target="_self">Ulta</a></div>

    <h3 style="padding-top: 50px;">Tech</h3>
        <div class="shop"><a href="https://www.apple.com/" target="_self">Apple</a></div>
        <div class="shop"><a href="https://www.bestbuy.com/" target="_self">Best Buy</a></div>
        <div class="shop"><a href="https://www.microsoft.com/en-us/" target="_self">Microsoft Store</a></div>
        <div class="shop"><a href="https://store.steampowered.com/" target="_self">Steam</a></div>
</div>
{% endblock %}
